@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

:root {
    --gauntlet_red: #f9423a;
    --gauntlet_yellow: #f7bc00;
    --gauntlet_green: #05AD45;
    --gauntlet_blue: #1F6AAD;
}

body {
  padding-top: 88px;
}

span.blockspam {
  display: none;
}



/* YouTube Video related */
.yt-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 32px;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625)
  
  /*width: 80%;
  padding-top: 45%;*/
}

.yt-video-container-small {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625)
  
  /*width: 80%;
  padding-top: 45%;*/
}

@media only screen and (max-width: 640px) 
{
	.yt-video-container 
	{
		border-radius: 16px;
	}

}

.rounded
{
	border-radius: 25px;
}
	

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* end */

.headingFont {
  font-family: 'Darumadrop One', cursive;
}

.studio-logo {
  width: 450px;
  height: auto;
}

.logo {
  padding-left: 16px;
  padding-right: 16px;
  width: 140px;
  height: auto;
  filter: grayscale(1) brightness(1);
  mix-blend-mode: multiply;
}

.logo-inverted {
  padding-left: 16px;
  padding-right: 16px;
  width: 140px;
  height: auto;
  filter: invert(100%) grayscale(1) brightness(1);
  mix-blend-mode: multiply;
}

.platform-logo
{ 
  float: left;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 64px;
  width: auto;
  height: auto;
}

.offset-anchor {
  position: relative;
  top: -88px;
}

/* navbar related */

#navbar {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  transition: 0.25s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.25s;
}

/* Animation */
.animated-wobble {
    animation: wobble 3s ease infinite;
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
}

.raise { 
transition: all .15s cubic-bezier(0.2, 0.4, 0.6, 1); 
}

.raise:hover { 
transform: translateY(-5px) scale(1.15);
}

.grow { 
transition: all .15s ease-in-out; 
}

.grow:hover { 
transform: scale(1.25); 
}

/* Video related */

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.project-description-container
{
  min-height: 128px;
  padding-top: 32px;	
}

.project-description
{  

  width: 80%;
}
